# Dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binaries
cloudflared.exe

# Environment Variables
.env
.env.local
.env.production

# Build outputs
dist/
build/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/
